* {
    box-sizing: border-box;
}
/*
COLOR SCHEMA: #EEEFEA, #143156, #92938F, #778DA9, #E0E1DD
*/

html {
    background-color: #E0E1DD;
}

body {
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

nav, footer {
    padding: 1% 0;
    background-color: #778DA9;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 50px;
}

header {
    padding-top: 45px;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: rgba(93, 94, 93, 0.068);
    padding: 15px;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

section:nth-child(even) {
    background-color: rgba(93, 94, 93, 0.068);
}

footer {
    margin-top: 5px;
}

.about-me {
  display: flex;
}

.nav-butt {
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    font-size: large;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    /* padding: 10px; */
}

.nav-butt:hover {
    font-size:larger;
}

.headshot {
  border-radius: 5%;
  width: relative;
  height: 400px;
}

#copyright {
    font-size: x-small;
}

.body-par {
    text-align:left;
    padding-left: 20px;
}

.contents {
   display: inline-block;
}

.proj-img {
    width: 400px;
    padding: 20px;
}

.project {
  display: flex;
}

#project-body {
    /* float: left;
    width: 85%; */
}

/* #viewport {
    float: right;
} */

#email-form {
    text-align: left;
}

#link-desc {
    display: none;
    padding: 20px;
}
#github-repo:hover + #link-desc{
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    width: 45%;
    background-color: #143156;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #92938F;
  }

@media screen and (max-width: 720px){
  .about-me {
    display: block;
  }
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
    #viewport {
        float: none;
    }
    #project-body {
        float: none;
        width: 100%;
    }
    .proj-img {
        width: 85%;
    }
    .project {
      display: block;
    }
    .nav-butt {
      padding: 10px;
    }
    .nav-butt:hover {
      padding: 6px;
    }
}

@media screen and (max-width: 320px){
    main {
        margin-left: 0px;
        margin-right: 0px;
    }
    .proj-img {
        width: 85%;
    }
}